@{
    ViewBag.Title = "Planning Poker";
}

<div class="container">
    <div class="jumbotron" style="margin-top: 2em;">
        <h1>Planning Poker</h1>
        <p class="lead">Planning Poker is a site to assist in estimating relative sizes of tasks. A room shows everyone's status. Indivdual players can join rooms to play cards.</p>
        <p><a href="@Url.Action("Index", "Player")" class="btn btn-primary btn-lg">Start Playing &raquo;</a> <a href="@Url.Action("Index", "Presenter")" class="btn btn-primary btn-lg">Host a Room &raquo;</a></p>
    </div>

</div>