
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container" data-bind="foreach: cards">
    <button data-bind="text: value, click: pick"></button>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script>
        $(function () {
            var pokerHubProxy = $.connection.pokerHub;

            pokerHubProxy.state.name = prompt('Enter your name:', '')
            pokerHubProxy.state.room = prompt('Enter the room id', '');

            ko.applyBindings(new PlayerViewModel(pokerHubProxy));

            $.connection.hub.start().done(function () {
                pokerHubProxy.server.pick("");
            });

            function PlayerViewModel() {
                var self = this;

                self.cards = ko.observableArray([new Card(""), new Card("0"), new Card("½"), new Card("1"), new Card("2"), new Card("3"), new Card("5"), new Card("8"), new Card("13"), new Card("21"), ]);
            }

            function Card(value) {
                var self = this;
                self.value = value;

                self.pick = function () {
                    pokerHubProxy.server.pick(self.value);
                }
            }
        });
    </script>
}
