
@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span data-bind="text: name"></span> &ndash; Room <span data-bind="text: room"></span></a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row" data-bind="foreach: cards">
        <div class="col-xs-6 col-md-3"><button class="btn btn-primary btn-lg" style="width: 100%; margin-bottom: 15px; margin-left: 0; height: 60px;" data-bind="html: formattedValue, click: pick"></button></div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script>
        $(function () {
            var pokerHubProxy = $.connection.pokerHub;

            pokerHubProxy.state.name = prompt('Enter your name:', '')
            pokerHubProxy.state.room = prompt('Enter the room id', '');

            ko.applyBindings(new PlayerViewModel(pokerHubProxy));

            $.connection.hub.start().done(function () {
                pokerHubProxy.server.pick("");
            });

            function PlayerViewModel() {
                var self = this;

                self.cards = ko.observableArray([new Card(""), new Card("0"), new Card("½"), new Card("1"), new Card("2"), new Card("3"), new Card("5"), new Card("8"), new Card("13"), new Card("21"), new Card("?"), new Card("c")]);
                self.name = ko.observable(pokerHubProxy.state.name);
                self.room = ko.observable(pokerHubProxy.state.room);
            }

            function Card(value) {
                var self = this;
                self.value = value;

                self.pick = function () {
                    pokerHubProxy.server.pick(self.value);
                }

                self.formattedValue = ko.pureComputed(function () {
                    if (self.value == "") return '&nbsp;';
                    if (self.value == "c") return '<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>';
                    return self.value;
                }, self);
            }
        });
    </script>
}
