@model string

@{
    ViewBag.Title = "Planning Poker";
}

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Room @Model</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-bind="click: nextHand">Next Hand</a></li>
            </ul>
        </div>
    </div>
</nav>

<div data-bind="foreach: players" style="text-align: center;">
    <section class="hand" data-bind="css: { pick: picked, flip: $root.flip }">
        <div class="card">
            <figure class="front"></figure>
        </div><div class="card">
            <figure class="front"></figure>
        </div><div class="card">
            <figure class="front"></figure>
            <figure class="back" data-bind="html: formattedCard"></figure>
        </div><div class="card">
            <figure class="front"></figure>
        </div><div class="card">
            <figure class="front"></figure>
        </div>
        <div class="name" data-bind="text: name"></div>
    </section>
</div>

@section scripts {
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        window.room = "@Model";
    </script>

    <script src="~/Scripts/room.js"></script>
}

@section head {
    <link href="~/Content/room.css" rel="stylesheet" />
}
